<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Piste{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset("assets/Css/piste.css") }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}

    <header class="header">

        <a href="#" class="logo"> Logo <span class="title-text"></span> </a>

        <nav class="navbar">
            <a href="#l"><button class="btn">Station</button></a>
            <a href="#"><button class="btn"> Domaine </button></a>
        </nav>

    </header>

    <section class="piste" >
        <img src="../assets/image_piste/piste.jpeg" alt="piste" >
        <div class="content">
            <h1>{{ piste.name }} </h1>
{#            <p>{{ piste.schedule }} </p>#}
            {% if piste.isAlpin == 1 %}
                <p>Piste : Alpin </p>
            {% else %}
            <p>Piste : Nordique</p>
            {% endif %}

            {% if piste.isClose == 1 %}
               <p>Piste :Close</p>
            {% else %}
                <p>Open</p>
            {% endif %}

            <p>{{ piste.level }} </p>
            <p class="station">{{ piste.station }}</p>
            <h2>Message</h2>
            <p>{{ piste.message }} </p>
        </div>
    </section>


{% endblock %}
</body>
</html>
