{% extends 'base.html.twig' %}

{% block title %}Hello PistePageController!{% endblock %}

{% block body %}
    <div>
        <p>{{ piste.station }}</p>
        <p>{{ piste.name }} </p>
        <p>{{ piste.level }} </p>
{#        <p>{{ piste.schedule }} </p>#}
        <p>{{ piste.message }} </p>
{#        <p>{{ piste.is_alpin }} </p>#}
{#        <p>{{ piste.is_close }} </p>#}

    </div>
{% endblock %}
