{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partial/header.html.twig' %}

    <section class="piste" >
        <img src="../assets/image_piste/piste.jpeg" alt="piste" >
        <div class="content">
            <h1>{{ piste.name }} </h1>
            {% for horaire in piste.schedule %}
                <p>{{ horaire }}</p>
            {% endfor %}
            {% if piste.isAlpin == 1 %}
                <p>Piste : Alpin </p>
            {% else %}
            <p>Piste : Nordique</p>
            {% endif %}

            {% if piste.isClose == 1 %}
               <p>Piste :Close</p>
            {% else %}
                <p>Open</p>
            {% endif %}

            <p>{{ piste.level }} </p>
            <p class="station">{{ piste.station }}</p>
            <h2>Message</h2>
            <p>{{ piste.message | striptags }}</p>
        </div>
    </section>

    {% include 'partial/footer.html.twig' %}

{% endblock %}

