{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

    {% include 'partial/header.html.twig' %}

    <h1 class="event_title">Event</h1>

    <ul>
        {% for event in events %}
            <div class="event_event">
                <img src="{{ event.image }}" alt="{{ event.title }}">
                <li>
                    <h2>
                        <a href="{{ path('app_event_show', {'id':event.id}) }}">
                            {{ event.title }}
                        </a>
                    </h2>
                    <p>{{ event.description | slice(0,800) }} ....</p>
                    <p>Date : {{ event.date|date('d/m/Y') }}</p>
                    <p>
                        <a href="{{ path('app_station', {'id': event.station.id}) }}">
                            Lieu : {{ event.station.name }}
                        </a>
                    </p>
                </li>
            </div>
        {% endfor %}
    </ul>

    {% include 'partial/footer.html.twig' %}
{% endblock %}
