{% extends 'base.html.twig' %}

{% block title %}Hello InfosController!{% endblock %}

{% block body %}

    {% include 'partial/header.html.twig' %}

    <h1 class="infos_title">Infos</h1>

    <ul>
        {% for info in infos %}
            <div class="info_info">
                <img src="../uploads/info/{{ info.image }}" alt="{{ info.title }}">
                <li>
                    <h2>
                        <a href="{{ path('app_infos_show', {'id':info.id}) }}">
                            {{ info.title }}
                        </a>
                    </h2>
                    <p>{{ info.description | striptags | slice(0,800) }} ....</p>
                    <p>
                        <a href="{{ path('app_station', {'id': info.station.id}) }}">
                            Lieu : {{ info.station.name }}
                        </a>
                    </p>
                </li>
            </div>
        {% endfor %}
    </ul>

    {% include 'partial/footer.html.twig' %}

{% endblock %}
