{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    {% include 'partial/header.html.twig' %}

    <ul>
        {% for blog in blog_item %}
            <div class="blog_items">
                <img src="../uploads/blog/{{ blog.image }}" alt="{{ blog.title }}">
                <li>
                    <h2>{{ blog.title }}</h2>
                    <p>{{ blog.description }}</p>
                    <p>Lieu: {{ blog.station.name }}</p>
                </li>
            </div>
        {% endfor %}
    </ul>

    {% include 'partial/footer.html.twig' %}

{% endblock %}
