{% extends 'base.html.twig' %}

{% block title %}Hello DomaineController!{% endblock %}

{% block body %}

    {% include 'partial/header.html.twig' %}

    <section class="home">
        <div class="home_content">
            <h1>Rhône-Alpes Domaine</h1>
        </div>
    </section>

    <h1 class="domaine_title">Tous les Domaine</h1>


    <ul>
        {% for domaines in domaine %}
            <div class="domaine_content">
                <li>
                    <a class="link_to_piste" href="/station/{{ domaines.id }}">
                        <h2>{{ domaines.name }}</h2>
                        <p>{{ domaines.description | striptags }} </p>
                        <hr>
                    </a>
                </li>
                <a class="link_to_piste" href="/station/{{ domaines.id }}">
                    <img src="../uploads/domaine/{{ domaines.logo }}" alt="Image du Domaine {{ domaines.name }}" class="img_domaine">
                </a>

            </div>
        {% endfor %}
    </ul>

    {% include 'partial/footer.html.twig' %}


{% endblock %}
